<div class="main">
    <div class="section">
        <div class="container">
<!--         what is row -->
            <div class="row tim-row">
                <h2>Your sponsor is {{sponsor}} and your referral link is <a href="{{link}}">{{link}} </a> <br/> link to your registration page is <a href="{{register}}">{{register}}</a> </h2>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="section">
        <div class="container">
<!--         what is row -->
            <div class="row tim-row">    
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Username</th>
                        <th>Status</th>
                        <th>Date of joining</th>
                    </tr>
                    {{#if referrals}}
                    {{#each referrals}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td>{{code}}{{phone}}</td>
                        <td>{{username}}</td>
                        <td>{{status}}</td>
                        <td>{{date_joined}}</td>
                    </tr>
                    {{/each}}
                    {{/if}}
                    </table>
            </div>
        </div>
    </div>
</div>